<div class="search-section">
  <select
    (change)="onChangeSelect($event.target.value)"
    [disabled]="checkBoxChecked"
  >
    <option [selected]="checkBoxChecked" value="my">My source</option>
    <option
      *ngFor="let source of newsSources; let index = index"
      [value]="index"
      [selected]="!index"
      >{{ source.name }}</option
    >
  </select>
  <div>
    <input type="text" size="15" [(ngModel)]="filterWord" />
    <app-button title="Filter" [clickButton]="onClickFilter"></app-button>
  </div>
  <div>
    <input
      type="checkbox"
      [(ngModel)]="checkBoxChecked"
      (change)="onChangeCheckbox()"
    />
    <label>Only created by me</label>
  </div>
  <app-button
    title="Add article"
    [clickButton]="handleClickAddArticle"
  ></app-button>
</div>
