<div class="news-line">
  <div class="wrapper">
    <div class="img">
      <app-image [imageSrc]="imgSource"></app-image>
    </div>
    <div class="info">
      <div class="published-date">
        <app-published-date
          [publishedDate]="publishedDate"
        ></app-published-date>
      </div>
      <div class="description">
        <h3>{{ title }}</h3>
        <p>
          {{ description }}
        </p>
        <p><a routerLink="/article/1">Read more</a></p>
      </div>
    </div>

    <div class="controls">
      <app-button title="Delete" clickButton=""></app-button>
      <app-button title="Edit" clickButton=""></app-button>
    </div>
  </div>
</div>
