.news-line {
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
}

.wrapper {
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: space-between;
}

.img {
  width: 150px;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
