.news-line {
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;
  height: 200px;
}

.wrapper {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  height: 180px;
}

.img {
  width: 30%;
  height: 100%;
}

.info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.published-date {
  text-align: end;
  margin-bottom: 10px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

app-button:nth-child(1) {
  margin-bottom: 10px;
}
