<form class="form">
  <div class="inputs-blocks">
    <div class="inputs-block">
      <label for="heading" class="form-field">Heading</label>
      <input type="text" id="heading" />

      <label for="short-description" class="form-field"
        >Short description</label
      >
      <input type="text" id="short-description" />

      <label for="date">Date</label>
      <input type="text" id="date" />

      <label for="author">Author</label>
      <input type="text" id="author" />
    </div>

    <div class="inputs-block">
      <label for="image">Image</label>
      <input type="text" id="image" />

      <label for="source-url">Source url</label>
      <input type="text" id="source-url" />

      <label for="content">Content</label>
      <textarea type="text" id="content"></textarea>
    </div>
  </div>
  <div class="form-controls">
    <app-button title="Cancel"></app-button>
    <app-button title="Save"> </app-button>
  </div>
</form>
