<div class="news-card">
  <div class="wrapper">
    <div class="img">
      <app-image [imageSrc]="articleDetails.urlToImage"></app-image>
    </div>

    <div class="general-info">
      <h2>{{ articleDetails.title }}</h2>
      <p>
        {{ articleDetails.content }}
      </p>
      <div class="publish-date-author">
        <app-published-date
          [publishedDate]="articleDetails.publishedAt"
        ></app-published-date>
        <div>
          <p>Author:{{ articleDetails.author }}</p>
        </div>
      </div>
    </div>

    <div class="controls">
      <app-button title="Delete" clickButton=""></app-button>
      <app-button title="Edit" clickButton=""></app-button>
    </div>
  </div>
</div>
