<div class="news-card">
  <div class="wrapper">
    <div class="img">
      <app-image [imageSrc]="newsDetails.imgSource"></app-image>
    </div>

    <div class="general-info">
      <p>
        {{ newsDetails.description }}
      </p>
      <div class="publish-date-author">
        <app-published-date
          [publishedDate]="newsDetails.publishedDate"
        ></app-published-date>
        <div>
          <p>Author:{{ newsDetails.author }}</p>
        </div>
      </div>
    </div>

    <div class="controls">
      <app-button title="Delete" clickButton=""></app-button>
      <app-button title="Edit" clickButton=""></app-button>
    </div>
  </div>
</div>
