:host {
  width: 100%;
  margin: 0 auto;
  min-height: inherit;
  display: flex;
  flex-direction: column;
}

.news-card-container {
  flex: auto 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
